<!--{% autoescape off %}-->
<!--  To initiate the password reset process for your {{ user.email }} Django Registration/Login App Account,-->
<!--  click the link below:-->

<!--  {{ protocol }}://{{ domain }}{% url 'userauths:password_reset_confirm' uidb64=uid token=token %}-->

<!--  If clicking the link above doesn't work, please copy and paste the URL in a new browser-->
<!--  window instead.-->

<!--  Sincerely,-->
<!--  The Developer-->
<!--{% endautoescape %}-->

{% autoescape off %}

<td style="padding-left:15px;padding-right:15px">
    <div style="text-align: center;">
        <table id="m_1019556042704892048recin58956630" class="m_1019556042704892048r" style="margin:0 auto;background-color:#ffffff;border-spacing:0;width:600px" align="center">
            <tbody>
                <tr>
                    <td style="padding-top:0px;padding-bottom:15px;padding-left:0;padding-right:0">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="https://tilda.link/r/eyJ1cmwiOiJodHRwczpcL1wvdGlsZGEuY2NcLyIsImVtYWlsaWQiOiI0MDgwNjA4MiIsImxpbmtudW1iZXIiOjAsImMiOiJhMTE2In0%3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://tilda.link/r/eyJ1cmwiOiJodHRwczpcL1wvdGlsZGEuY2NcLyIsImVtYWlsaWQiOiI0MDgwNjA4MiIsImxpbmtudW1iZXIiOjAsImMiOiJhMTE2In0%253D&amp;source=gmail&amp;ust=1733940717504000&amp;usg=AOvVaw2H8R1kVqVteNJXrIZpUWD6">
                                            <img width="600" style="display:block;width:100%" src="https://i.imgur.com/xAWSFpr.png" class="CToWUd" data-bit="iit">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;padding:24px 30px 0;background-color:#ffffff">
                                        <a href="https://tilda.link/r/eyJ1cmwiOiJodHRwczpcL1wvdGlsZGEuY2NcLyIsImVtYWlsaWQiOiI0MDgwNjA4MiIsImxpbmtudW1iZXIiOjEsImMiOiJhMTE2In0%3D" style="text-decoration:none;color:#444444" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://tilda.link/r/eyJ1cmwiOiJodHRwczpcL1wvdGlsZGEuY2NcLyIsImVtYWlsaWQiOiI0MDgwNjA4MiIsImxpbmtudW1iZXIiOjEsImMiOiJhMTE2In0%253D&amp;source=gmail&amp;ust=1733940717505000&amp;usg=AOvVaw0q_5cKI8A0DPNTt3hWpUiU">
                                            <div style="margin-right:auto;font-weight:normal;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#444444;font-size:22px">Ласкаво просимо, {{ user.username }} !</div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;padding:11px 30px 0;background-color:#ffffff">
                                        <div style="margin-right:auto;font-weight:normal;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#707070;font-size:16px">
                                            Натисніть на посилання нижче, щоб скинути пароль до <span class="il">облікового запису</span> Mood Beauty.<br><br>
                                            <a style="display:inline-block;text-decoration:none;padding:15px 30px;font-size:15px;text-align:center;font-weight:bold;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;width:auto;color:#000;border:2px solid #000;background-color:#fff;border-radius:3px;transition:all 0.3s ease;"
                                                href="http://{{ domain }}{% url 'userauths:password_reset_confirm' uidb64=uid token=token %}"
                                                target="_blank"
                                                onmouseover="this.style.backgroundColor='#000';this.style.color='#fff';"
                                                onmouseout="this.style.backgroundColor='#fff';this.style.color='#000';">
                                                <span class="il">Скинути</span> пароль
                                            </a><br><br>
                                            <strong>Ваш логін:</strong> <br><a target="_blank">{{ user.email }}</a><br><br>Це посилання підтвердить скидання старого пароля. Після цього ви зможете увійти в акаунт із новим паролем.<br><br>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:30px;background-color:#ffffff"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</td>

{% endautoescape %}