.elementor-1131 .elementor-element.elementor-element-aaeed27:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1131 .elementor-element.elementor-element-aaeed27>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6D5DA;
    background-image: url('/static/imgs/main/banner1.JPEG');
    background-position: center center;
    background-size: cover;
}

.elementor-1131 .elementor-element.elementor-element-aaeed27>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 130px 80px 130px 80px;
}

.elementor-1131 .elementor-element.elementor-element-aaeed27>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1131 .elementor-element.elementor-element-eaa0ffd .c-ip-heading {
    text-align: left;
    font-size: 17px;
}

.elementor-1131 .elementor-element.elementor-element-1b5e752>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1131 .elementor-element.elementor-element-1b5e752 .c-ip-heading {
    text-align: left;
    font-weight: 500;
}

.elementor-1131 .elementor-element.elementor-element-eb91543>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-1131 .elementor-element.elementor-element-64ce9a3:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1131 .elementor-element.elementor-element-64ce9a3>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E9DED8;
    background-image: url('/static/imgs/main/banner2.jpg');
    background-position: center left;
    background-size: cover;
}

.elementor-1131 .elementor-element.elementor-element-64ce9a3>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 130px 80px 130px 80px;
}

.elementor-1131 .elementor-element.elementor-element-64ce9a3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1131 .elementor-element.elementor-element-d0e63e1>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-1131 .elementor-element.elementor-element-d0e63e1 .c-ip-heading {
    text-align: left;
    color: #FFFFFF;
    font-weight: 300;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-1131 .elementor-element.elementor-element-674650f {
    width: var(--container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
}

.elementor-1131 .elementor-element.elementor-element-674650f>.elementor-widget-container {
    --e-transform-translateX: 146px;
    --e-transform-scale: 1.5;
}

.elementor-1131 .elementor-element.elementor-element-674650f .c-ip-heading {
    text-align: left;
    color: var(--e-global-color-primary);
    font-size: 10px;
}

.elementor-1131 .elementor-element.elementor-element-11504a2>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
    transition: background 0s;
}

.elementor-1131 .elementor-element.elementor-element-11504a2 .c-button--outline {
    color: #000000 !important;
    border-color: #000000;
}

.elementor-1131 .elementor-element.elementor-element-11504a2 .c-button--outline:hover {
    color: white !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.elementor-1131 .elementor-element.elementor-element-9a6f48d>.elementor-widget-container {
    --e-transform-translateX: 0px;
    --e-transform-translateY: -12px;
    --e-transform-scale: 0.7;
}

.elementor-1131 .elementor-element.elementor-element-9a6f48d .c-ip-heading {
    text-align: left;
    font-size: 17px;
    letter-spacing: 8.4px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.elementor-1131 .elementor-element.elementor-element-9a6f48d .c-ip-heading .c-ip-heading__inner {
    max-width: 1160px;
}

.elementor-1131 .elementor-element.elementor-element-9a6f48d .c-ip-heading--bullet-after:after {
    max-width: 1160px;
}

.elementor-1131 .elementor-element.elementor-element-d63423e {
    margin-top: 80px;
    margin-bottom: 0px;
}

.elementor-1131 .elementor-element.elementor-element-f6c8514 .c-ip-image-list-1__thumb {
    background-color: #FFFFFF;
}

.elementor-1131 .elementor-element.elementor-element-f6c8514 .c-ip-image-list-1__item:hover {
    color: #E4C1B1;
}

.elementor-1131 .elementor-element.elementor-element-f6c8514 .c-ip-image-list-1__item {
    font-size: 18px;
    width: 160px;
}

.elementor-1131 .elementor-element.elementor-element-f6c8514 .c-ip-image-list-1__title {
    margin-top: 25px;
}

.elementor-1131 .elementor-element.elementor-element-e52934a {
    margin-top: 85px;
    margin-bottom: 0px;
}

.elementor-1131 .elementor-element.elementor-element-34b38e3 .c-ip-heading {
    text-align: center;
}

.elementor-1131 .elementor-element.elementor-element-d57b645 {
    padding: 0px 30px 0px 30px;
}

.elementor-1131 .elementor-element.elementor-element-98b9ea0 {
    margin-top: 85px;
    margin-bottom: 50px;
}

.elementor-1131 .elementor-element.elementor-element-8b0a55a>.elementor-element-populated {
    padding: 0px 0px 0px 55px;
}

.elementor-1131 .elementor-element.elementor-element-01406ee>.elementor-widget-container {
    margin: 45px 0px 0px 0px;
}

.elementor-1131 .elementor-element.elementor-element-a96250f .c-ip-heading {
    text-align: left;
    color: #000000;
}

.elementor-1131 .elementor-element.elementor-element-abae348>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-1131 .elementor-element.elementor-element-abae348 .c-ip-countdown {
    color: var(--e-global-color-primary);
    justify-content: flex-start;
}

.elementor-1131 .elementor-element.elementor-element-abae348 .c-ip-countdown__item {
    margin-left: 17px;
    margin-right: 17px;
}

.elementor-1131 .elementor-element.elementor-element-abae348 .c-ip-countdown__wrap {
    margin-left: -17px;
    margin-right: -17px;
}

.elementor-1131 .elementor-element.elementor-element-796391d>.elementor-widget-container {
    margin: 60px 0px 0px 0px;
}

.elementor-1131 .elementor-element.elementor-element-6e52367 .c-ip-banners__header {
    font-size: 38px;
}

@media(max-width:1189px) and (min-width:768px) {
    .elementor-1131 .elementor-element.elementor-element-8b0a55a {
        width: 100%;
    }
}

@media(max-width:1189px) {
    .elementor-1131 .elementor-element.elementor-element-aaeed27>.elementor-element-populated {
        padding: 35px 35px 44px 35px;
    }

    .elementor-1131 .elementor-element.elementor-element-eb91543>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-1131 .elementor-element.elementor-element-64ce9a3>.elementor-element-populated {
        padding: 35px 35px 44px 35px;
    }

    .elementor-1131 .elementor-element.elementor-element-674650f {
        width: var(--container-widget-width, 492.5px);
        max-width: 492.5px;
        --container-widget-width: 492.5px;
        --container-widget-flex-grow: 0;
    }

    .elementor-1131 .elementor-element.elementor-element-11504a2>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-1131 .elementor-element.elementor-element-98b9ea0 {
        margin-top: 45px;
        margin-bottom: 60px;
    }

    .elementor-1131 .elementor-element.elementor-element-a96250f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-1131 .elementor-element.elementor-element-a96250f .c-ip-heading {
        text-align: center;
    }

    .elementor-1131 .elementor-element.elementor-element-abae348 .c-ip-countdown {
        justify-content: center;
    }

    .elementor-1131 .elementor-element.elementor-element-796391d>.elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }
}

@media(max-width:767px) {

    .elementor-1131 .elementor-element.elementor-element-aaeed27:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
    .elementor-1131 .elementor-element.elementor-element-aaeed27>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-image: url('/static/imgs/main/banner1.JPEG');
    }

    .elementor-1131 .elementor-element.elementor-element-eaa0ffd .c-ip-heading .c-ip-heading__inner {
        max-width: 252px;
    }

    .elementor-1131 .elementor-element.elementor-element-eaa0ffd .c-ip-heading--bullet-after:after {
        max-width: 252px;
    }

    .elementor-1131 .elementor-element.elementor-element-eaa0ffd .c-ip-heading {
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 4.3px;
    }

    .elementor-1131 .elementor-element.elementor-element-1b5e752>.elementor-widget-container {
        margin: 0px 0px 0px -2px;
    }

    .elementor-1131 .elementor-element.elementor-element-1b5e752 .c-ip-heading {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 8.8px;
    }

    .elementor-1131 .elementor-element.elementor-element-eb91543 {
        width: auto;
        max-width: auto;
    }

    .elementor-1131 .elementor-element.elementor-element-d0e63e1>.elementor-widget-container {
        margin: 0px 0px 0px -2px;
    }

    .elementor-1131 .elementor-element.elementor-element-d0e63e1 .c-ip-heading {
        font-size: 28px;
        letter-spacing: 8.8px;
    }

    .elementor-1131 .elementor-element.elementor-element-674650f>.elementor-widget-container {
        --e-transform-translateX: 110px;
        --e-transform-translateY: 0px;
        --e-transform-scale: 1.7;
    }

    .elementor-1131 .elementor-element.elementor-element-674650f {
        --container-widget-width: 354px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 354px);
        max-width: 354px;
        --e-transform-origin-x: left;
    }

    .elementor-1131 .elementor-element.elementor-element-674650f .c-ip-heading {
        text-align: left;
        font-size: 5px;
        line-height: 18px;
    }

    .elementor-1131 .elementor-element.elementor-element-9a6f48d .c-ip-heading {
        font-size: 13px;
        line-height: 18px;
    }

    .elementor-1131 .elementor-element.elementor-element-f6c8514 .c-ip-image-list-1__item {
        width: 135px;
    }

    .elementor-1131 .elementor-element.elementor-element-8b0a55a>.elementor-element-populated {
        padding: 0px 30px 0px 30px;
    }

    .elementor-1131 .elementor-element.elementor-element-01406ee>.elementor-widget-container {
        margin: 45px 0px 0px 0px;
    }

    .elementor-1131 .elementor-element.elementor-element-a96250f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}