{% extends "partials/base.html" %}
{% block title %} Password Reset {% endblock title%}
{% block content %}
<!--    <div class="form-content my-3 p-3">-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-lg-5">-->
<!--                    {% if validlink %}-->
<!--                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">-->
<!--                            <div class="card-header justify-content-center">-->
<!--                              <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>-->
<!--                            </div>-->
<!--                            {% if form.errors %}-->
<!--                                <div class="alert alert-danger alert-dismissible" role="alert">-->
<!--                                    <div id="form_errors">-->
<!--                                        {% for key, value in form.errors.items %}-->
<!--                                            <strong>{{ value }}</strong>-->
<!--                                        {% endfor %}-->
<!--                                    </div>-->
<!--                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                                        <span aria-hidden="true">&times;</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            {% endif %}-->

<!--                            <div class="card-body">-->
<!--                                <form method="POST">-->
<!--                                    {% csrf_token %}-->
<!--                                    <div class="form-row">-->
<!--                                        <div class="col-md-10 offset-md-1">-->
<!--                                            <div class="form-group">-->
<!--                                                <label class="small mb-1" for="id_new_password1">New Password</label>-->
<!--                                                <input type="password" name="new_password1" autocomplete="new-password"-->
<!--                                                       class="form-control" required id="id_new_password1"-->
<!--                                                       placeholder="Enter password"/>-->
<!--                                                <span>-->
<!--                                                </span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="form-row">-->
<!--                                        <div class="col-md-10 offset-md-1">-->
<!--                                            <div class="form-group">-->
<!--                                                <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>-->
<!--                                                <input type="password" name="new_password2" autocomplete="new-password"-->
<!--                                                       required id="id_new_password2" class="form-control"-->
<!--                                                       placeholder="Confirm password"/>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="form-row">-->
<!--                                        <div class="col-md-10 offset-md-1">-->
<!--                                            <div class="form-group mt-0 mb-1">-->
<!--                                                <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset Password</button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    {% else %}-->
<!--                    <div class="alert alert-warning">-->
<!--                        The password reset link was invalid, possibly because it has already been used.-->
<!--                        Please request a new password reset.-->
<!--                    </div>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<div class="l-inner">
    <header class="l-section c-page-header c-page-header--header-type-4 c-page-header--default
 c-page-header--wc c-page-header--low" style="">

        <div class="c-page-header__wrap">
            <h1 class="c-page-header__title">Мiй аккаунт</h1>
        </div>
        <nav class="c-breadcrumbs">
            <ol class="c-breadcrumbs__list c-breadcrumbs__list--default" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="c-breadcrumbs__item  c-breadcrumbs__item--first  " itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" title="Home" href="https://www.onlyone.beauty/"><span itemprop="name">Home</span></a>
                    <!--
						--><i class="ip-breadcrumb c-breadcrumbs__separator">
                        <!-- --></i>
                    <meta itemprop="position" content="1">
                </li>
                <li class="c-breadcrumbs__item   c-breadcrumbs__item--last " itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" title="Мiй аккаунт" href="https://www.onlyone.beauty/my-account/"><span itemprop="name">Мiй аккаунт</span></a>
                    <meta itemprop="position" content="2">
                </li>
            </ol>
        </nav>
    </header>
    <div class="woocommerce-notices-wrapper woocommerce-notices-wrapper--ajax" style="transform: translateY(0px);"></div>



    <div class="l-section l-section--container l-section--bottom-margin l-section--no-sidebar l-section--top-margin-60 l-section--white">
        <div class="l-section__content">
            <div class="woocommerce">
                <form method="post" class="woocommerce-ResetPassword lost_reset_password">
                    {% csrf_token %}

                    <p>Введіть новий пароль нижче.</p>
                    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                        <label for="password_1">Новий пароль&nbsp;<span class="required">*</span></label>
                        <span class="password-input"><input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="new_password1" id="password_1" autocomplete="new-password" placeholder="Новий пароль&nbsp;"><span class="show-password-input"></span></span>
                    </p>
                    <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
                        <label for="password_2">Підтвердження паролю&nbsp;<span class="required">*</span></label>
                        <span class="password-input"><input type="password" class="woocommerce-Input woocommerce-Input--text input-text" name="new_password2" id="password_2" autocomplete="new-password" placeholder="Підтвердження паролю&nbsp;"><span class="show-password-input"></span></span>
                    </p>

<!--                    <input type="hidden" name="reset_key" value="whzhBwDa5B5UhZaSrZBc">-->
<!--                    <input type="hidden" name="reset_login" value="hui705452">-->

                    <div class="clear"></div>


                    <p class="woocommerce-form-row form-row">
                        <input type="hidden" name="wc_reset_password" value="true">
                        <button type="submit" class="woocommerce-Button button" value="Зберегти">Зберегти</button>
                    </p>

                    <input type="hidden" id="woocommerce-reset-password-nonce" name="woocommerce-reset-password-nonce" value="7f85cd9b6e"><input type="hidden" name="_wp_http_referer" value="/my-account/lost-password/?show-reset-form=true&amp;action">
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock  %}