{% extends "partials/base.html" %}
{% block content %}

<div class="l-inner">
    <header class="l-section c-page-header c-page-header--header-type-4 c-page-header--default
 c-page-header--wc c-page-header--low" style="">

        <div class="c-page-header__wrap">
            <h1 class="c-page-header__title">Мiй аккаунт</h1>
        </div>
        <nav class="c-breadcrumbs">
            <ol class="c-breadcrumbs__list c-breadcrumbs__list--default" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="c-breadcrumbs__item  c-breadcrumbs__item--first  " itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" title="Home" href="https://www.onlyone.beauty/"><span itemprop="name">Home</span></a>
                    <!--
						--><i class="ip-breadcrumb c-breadcrumbs__separator">
                        <!-- --></i>
                    <meta itemprop="position" content="1">
                </li>
                <li class="c-breadcrumbs__item   c-breadcrumbs__item--last " itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" title="Мiй аккаунт" href="https://www.onlyone.beauty/my-account/"><span itemprop="name">Мiй аккаунт</span></a>
                    <meta itemprop="position" content="2">
                </li>
            </ol>
        </nav>
    </header>
    <div class="woocommerce-notices-wrapper woocommerce-notices-wrapper--ajax" style="transform: translateY(0px);"></div>



    <div class="l-section l-section--container l-section--bottom-margin l-section--no-sidebar l-section--top-margin-60 l-section--white">
        <div class="l-section__content">
            <div class="woocommerce">
                <form method="post" class="woocommerce-ResetPassword lost_reset_password">
                    {% csrf_token %}

                    <p>Забули пароль? Будь ласка, введіть вашу e-mail адресу. Ви отримаєте електронний лист з посиланням для створення нового паролю.</p>
                    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                        <label for="user_login">E-mail адреса</label>
                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="email" id="user_login" autocomplete="username" placeholder="Логін чи e-mail адреса">
                    </p>


                    <div class="clear"></div>


                    <p class="woocommerce-form-row form-row">
                        <input type="hidden" name="wc_reset_password" value="true">
                        <button type="submit" class="woocommerce-Button button" value="Скинути пароль">Скинути пароль</button>
                    </p>

                    <input type="hidden" id="woocommerce-lost-password-nonce" name="woocommerce-lost-password-nonce" value="5e1b221003"><input type="hidden" name="_wp_http_referer" value="/my-account/lost-password/">
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}