<div class="woocommerce-notices-wrapper woocommerce-notices-wrapper--ajax" style="transform: translateY(0px);"></div>

<div class="l-section l-section--container l-section--bottom-margin l-section--no-sidebar l-section--top-margin-60 l-section--white">
    <div class="l-section__content">
        <div class="woocommerce">
            <div class="c-cart-empty">
                <h1 class="c-cart-empty__header">Кошик поки порожній</h1>
                <a class="c-button c-button--outline c-cart-empty__backward" href="{% url 'core:product-list' %}">
                    Повернутись в магазин
                </a>
            </div>
        </div>
    </div>
</div>