{% for product in products %}
    <div class="c-product-grid__item c-product-grid__item--sidebar c-product-grid__item--4-per-row c-product-grid__item--normal c-product-grid__item--always c-product-grid__item--2-per-row product type-product post-4592 status-publish first instock product_cat-daeng-gi-meo-ri product_cat-brands product_cat-dlya_volossya product_cat-conditioner has-post-thumbnail sale shipping-taxable purchasable product-type-variable">
        <div class="c-product-grid__thumb-wrap c-product-grid__thumb-wrap--buttons"><a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="260" height="260" src="{{ product.image.url }}" class="c-product-grid__thumb c-product-grid__thumb--cover" alt="" decoding="async" srcset="{{ product.image.url }}" sizes="(max-width: 260px) 100vw, 260px"></span></a>
            <div class="c-product-grid__thumb-button-list ">
                <button class="js-wishlist-btn c-wishlist__btn c-wishlist__item-4592-btn h-cb c-product-grid__thumb-button" data-product-id="4592" data-title="Wishlist"><i class="ip-heart c-product-grid__icon c-product-grid__icon--wishlist c-wishlist__btn-icon c-wishlist__btn-icon-normal"></i><i class="ip-heart_hover c-product-grid__icon c-product-grid__icon--wishlist c-wishlist__btn-icon c-wishlist__btn-icon--hover"></i></button> </div>
        </div><!-- .c-product-grid__thumb-wrap --><a href="" data-quantity="1" class="h-cb c-product-grid__atc button product_type_variable add_to_cart_button" data-product_id="4592" data-product_sku="" aria-label="Виберіть опції для &quot; Daeng Gi Meo Ri Vitalizing Treatment Кондиціонер регенеруючий інтенсивний&quot;" aria-describedby="Цей товар має кілька варіантів. Параметри можна вибрати на сторінці товару" rel="nofollow">
            <i class="ip-cart c-product-grid__icon c-product-grid__icon--cart"></i>
        </a>
        <div class="c-product-grid__details">
            <div class="c-product-grid__title-wrap"><a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <h2 class="woocommerce-loop-product__title">{{ product.title }}</h2>
                </a><a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                    <div class="c-product-grid__short-desc">
                        <p>{{ product.brand }}</p>
                    </div>
                </a></div>
            <!-- .c-product-grid__title-wrap -->
            <div class="c-product-grid__price-wrap">
                <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#8372;</span>{{ product.price }}
            </div>
            <!-- .c-product-grid__price-wrap -->
        </div><!-- .c-product-grid__details -->
    </div>
{% endfor %}