{%  extends 'partials/base.html' %}
{% load static %}
{% block content %}

{% block js %}
    <script src="{% static 'js/novaposhta-api.js' %}"></script>
{% endblock js %}

<div class="l-inner" id="cart-list">
    {% if is_cart_empty %}
    <div class="woocommerce-notices-wrapper woocommerce-notices-wrapper--ajax" style="transform: translateY(0px);"></div>
    <div class="l-section l-section--container l-section--bottom-margin l-section--no-sidebar l-section--top-margin-60 l-section--white">
        <div class="l-section__content">
            <div class="woocommerce">
                <div class="c-cart-empty">
                    <h1 class="c-cart-empty__header">Кошик поки порожній</h1>
                    <a class="c-button c-button--outline c-cart-empty__backward" href="{% url 'core:product-list' %}">
                        Повернутись в магазин
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    <div class="l-section l-section--container l-section--bottom-margin l-section--no-sidebar l-section--white l-section--top-margin">
        <div class="l-section__content">
            <div class="woocommerce">
                <div class="c-cart">
                    <div class="c-cart__wrap">
                        <div class="c-cart__col-1">
                            <div class=" js-sticky-sidebar-nearby ">

                                <form class="woocommerce-cart-form" id="cart-update-form" action="" method="post">
                                    <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents c-cart__shop-table" cellspacing="0">
                                        <thead class="c-cart__shop-thead">
                                            <tr>
                                                <th class="c-cart__shop-th c-cart__shop-th--product-name" colspan="2">Товар</th>
                                                <th class="c-cart__shop-th c-cart__shop-th--product-quantity">Кількість</th>
                                                <th class="c-cart__shop-th c-cart__shop-th--product-subtotal">Проміжний підсумок</th>
                                            </tr>
                                        </thead>
                                        <tbody class="c-cart__shop-tbody">
                                            <tr class="c-cart__shop-tr c-cart__shop-tr--space">
                                                <td colspan="4" class="c-cart__shop-td-space"></td>
                                            </tr>

                                            {% for product_id, item in cart_data.items %}
                                            <tr class="c-cart__shop-tr cart_item">

                                                <td class="c-cart__shop-td c-cart__shop-td--product-thumbnail">

                                                    <a class="c-cart__shop-remove remove delete-product" aria-label="Remove this item" data-product="{{ product_id }}">
                                                        <i class="ip-close-small c-cart__shop-remove-icon"></i>
                                                    </a>
                                                    <a class="c-cart__thumbnail-link" href="{% url 'core:product-detail' item.pid %}"><img decoding="async" width="115" height="115" src="{{ item.image }}" class="attachment-woocommerce_gallery_thumbnail size-woocommerce_gallery_thumbnail" alt="" srcset="{{ item.image }}" sizes="(max-width: 115px) 100vw, 115px"></a> </td>

                                                <td class="c-cart__shop-td c-cart__shop-td--product-name" data-title="Товар">
                                                    <a href="{% url 'core:product-detail' item.pid %}">{{ item.title }}</a>
                                                    {% if item.volume and item.volume != 'None мл' and item.volume != 'None' and item.volume != '' %}
                                                        <div class="c-cart__shop-brand">Об`єм: {{ item.volume }}</div>
                                                    {% endif %}
                                                    <span class="c-cart__item-price">
                                                        <span class="woocommerce-Price-amount amount">
                                                            <bdi>
                                                                <span class="woocommerce-Price-currencySymbol">₴</span>
                                                                {{item.price}}
                                                            </bdi>
                                                        </span>
                                                    </span>
                                                </td>

                                                <td class="c-cart__shop-td c-cart__shop-td--product-quantity" data-title="Кількість">
                                                    <div class="c-product__quantity quantity">
                                                        <label class="screen-reader-text">{{ item.title }}</label>
                                                        <input type="number" class="c-product__quantity-value qty product-quantity-{{ product_id|slugify }}" min="1" value="{{ item.quantity }}" data-key="{{ product_id }}" readonly style="background-color: #fff;">
                                                        <button class="h-cb c-product__quantity-minus qty-minus" type="button" data-key="{{ product_id }}">
                                                            <i class="ip-minus"></i>
                                                        </button>
                                                        <button class="h-cb c-product__quantity-plus qty-plus" type="button" data-key="{{ product_id }}">
                                                            <i class="ip-plus_big"></i>
                                                        </button>
                                                    </div>
                                                </td>

                                                <td class="c-cart__shop-td c-cart__shop-td--product-price c-cart__shop-td--product-subtotal" data-title="Проміжний підсумок">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi>
                                                            <span class="woocommerce-Price-currencySymbol">₴</span>
                                                            {{ item.total_price|floatformat:2 }}
                                                        </bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            <tr class="c-cart__shop-tr c-cart__shop-tr--space">
                                                <td colspan="4" class="c-cart__shop-td-space"></td>
                                            </tr>
                                            <tr class="c-cart__shop-tr c-cart__shop-tr--actions">
                                                <td colspan="5" class="c-cart__shop-td c-cart__shop-td--actions">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>

                                <div class="l-section l-section--bottom-margin l-section--no-sidebar l-section--top-margin-60 l-section--checkout">
                                    <div class="l-section__content">
                                        <div class="woocommerce">

                                            <form action="{% url 'core:save_checkout_info' %}" method="POST">
                                                {% csrf_token %}

                                                <div class="c-cart__wrap">
                                                    <div class="c-cart__col-1 c-cart__col-1--checkout">
                                                        <div class=" js-sticky-sidebar-nearby ">


                                                            <div class="c-cart__customer-details" id="customer_details">
                                                                <div class="col-1">
                                                                    <div class="c-cart__form c-cart__form--billing-fields woocommerce-billing-fields">

                                                                        <h3 class="c-cart__header">Платіжні дані</h3>


                                                                        <div class="c-cart__billing-fields woocommerce-billing-fields__field-wrapper">
                                                                            <!--Ім'я-->
                                                                            <p class="form-row form-row-first validate-required" id="billing_first_name_field" data-priority="10">
                                                                                <label class="">Ім'я&nbsp;<abbr class="required" title="обов'язкове">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" class="input-text" name="fname" value="" placeholder="" autocomplete="given-name">
                                                                                </span>
                                                                            </p>
                                                                            <!--Прізвище-->
                                                                            <p class="form-row form-row-last validate-required" id="billing_last_name_field" data-priority="20">
                                                                                <label class="">Прізвище&nbsp;<abbr class="required" title="обов'язкове">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" class="input-text" name="lname" value="" placeholder="" autocomplete="family-name">
                                                                                </span>
                                                                            </p>

                                                                            <p class="form-row form-row-wide validate-required validate-email" data-priority="110">
                                                                                <label class="">E-mail адреса&nbsp;<abbr class="required" title="обов'язкове">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="email" value="" class="input-text" name="email" placeholder="" autocomplete="email username">
                                                                                </span>
                                                                            </p>

                                                                            <p class="form-row form-row-wide validate-required validate-email" data-priority="110">
                                                                                <label class="">Телефон&nbsp;<abbr class="required" title="обов'язкове">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" value="" class="input-text" name="phone" id="phone" placeholder="+38 0" autocomplete="email username">
                                                                                </span>
                                                                            </p>
                                                                        </div>

                                                                        <div class="wcus-checkout-fields">
                                                                            <h3>Вкажіть адресу доставки</h3>
                                                                        </div>

                                                                        <div class="c-cart__billing-fields woocommerce-billing-fields__field-wrapper">

                                                                            <p class="form-row form-row-wide address-field update_totals_on_change validate-required" id="billing_country_field" data-priority="40"><label for="billing_country" class="">Країна / Регіон&nbsp;<abbr class="required" title="обов'язкове">*</abbr></label><span class="woocommerce-input-wrapper"><strong>Україна</strong><input type="hidden" name="billing_country" id="billing_country" value="UA" autocomplete="country" class="country_to_state" readonly="readonly"></span></p>
                                                                            <!-- Область -->
                                                                            <p class="form-row form-row-wide validate-required" id="region_field" data-priority="80">
                                                                                <label for="region">Оберіть область&nbsp;<abbr class="required" title="обов'язкове">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <select id="region" name="state" value="" class="input-text" required>
                                                                                        <option value="">Завантаження...</option>
                                                                                    </select>
                                                                                </span>
                                                                            </p>

                                                                            <!-- Город -->
                                                                            <p class="form-row form-row-wide validate-required" id="city_field" data-priority="90">
                                                                                <label for="cityInput">Місто&nbsp;<abbr class="required" title="обов'язкове">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper city-search-container">
                                                                                    <div class="city-input-wrapper">
                                                                                        <input type="text"
                                                                                               id="cityInput"
                                                                                               class="input-text"
                                                                                               name="city"
                                                                                               value=""
                                                                                               placeholder="Введіть назву міста або оберіть зі списку"
                                                                                               autocomplete="off">
                                                                                        <button type="button"
                                                                                                id="toggleCitySelect"
                                                                                                style="display: none;">

                                                                                        </button>
                                                                                    </div>
                                                                                    <input type="hidden" id="cityRef" name="cityRef">
                                                                                    <div id="citySearchResults" class="search-results woocommerce-input-wrapper"></div>
                                                                                </span>
                                                                            </p>

                                                                            <!-- Отделение -->
                                                                            <p class="form-row form-row-wide validate-required" id="office_field" data-priority="100">
                                                                                <label for="office">Відділення&nbsp;<abbr class="required" title="обов'язкове">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <select id="office" name="address" value="" class="input-text" required>
                                                                                        <option value="">Оберіть відділення</option>
                                                                                    </select>
                                                                                </span>
                                                                            </p>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="col-2">
                                                                    <div class="c-cart__form c-cart__form--shipping-fields woocommerce-shipping-fields">


                                                                    </div>
                                                                    <div class="c-cart__form c-cart__form--additional-fields woocommerce-additional-fields">



                                                                        <div class="c-cart__additional-fields woocommerce-additional-fields__field-wrapper">
                                                                            <p class="form-row notes" id="order_comments_field" data-priority="">
                                                                                <label class="">Нотатки до замовлення&nbsp;<span class="optional">(необов'язково)</span></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <textarea name="extra_info" value="" class="input-text " placeholder="Нотатки до вашого замовлення, наприклад спеціальні нотатки для доставки." rows="2" cols="5"></textarea>
                                                                                </span>
                                                                            </p>
                                                                        </div>

                                                                        <button type="submit" class="c-button c-button--big c-cart__checkout-btn checkout-button button alt wc-forward">
                                                                            Оформлення замовлення
                                                                        </button>


                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="c-cart__col-2">


                            <div class="cart-collaterals c-cart__collaterals js-sticky-sidebar">
                                <div class="c-cart__totals cart_totals">


                                    <div class="c-cart__coupon">

                                        <div class="c-cart__sub-header" id="order_review_heading">Замовлення</div>

                                    </div>

                                    <table class="c-cart__totals-table shop_table">

                                        <tbody>
                                            <tr class="c-cart__totals-subtotal cart-subtotal">
                                                <th class="c-cart__sub-sub-header">Проміжний підсумок</th>
                                                <td class="c-cart__totals-price" data-title="Проміжний підсумок"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">₴</span>{{cart_total|floatformat:2}}</bdi></span></td>
                                            </tr>


                                            <tr>
                                                <td colspan="2" class="c-cart__totals-space c-cart__totals-space--hr"></td>
                                            </tr>


                                            <tr class="woocommerce-shipping-totals shipping">
                                                <td class="c-cart__totals-td" data-title="Доставка" colspan="2">
                                                    <div class="c-cart__sub-header">Доставка</div>
                                                    <ul id="shipping_method" class="c-cart__shipping-methods woocommerce-shipping-methods">
                                                        <li class="c-cart__shipping-methods-item">
                                                            <span class="c-cart__shipping-methods-wrap"><input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_nova_poshta_shipping1" value="nova_poshta_shipping:1" class="shipping_method" checked="checked"></span><label class="c-cart__shipping-methods-label" for="shipping_method_0_nova_poshta_shipping1"><span id="wcus-shipping-cost">Нова Пошта</span></label><input id="wcus-shipping-name" type="hidden" value="Нова Пошта"> </li>
                                                    </ul>

                                                </td>
                                            </tr>


                                            <tr>
                                                <td colspan="2" class="c-cart__totals-space c-cart__totals-space--hr"></td>
                                            </tr>

                                            <tr class="order-total">
                                                <th class="c-cart__sub-sub-header">Загалом</th>
                                                <td class="c-cart__totals-price c-cart__totals-price--total" data-title="Загалом"><span id="wcus-order-total"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">₴</span>{{cart_total|floatformat:2}}</bdi></span></strong> </span></td>
                                            </tr>


                                            <tr>
                                                <td class="c-cart__totals-action wc-proceed-to-checkout" colspan="2">

                                                    <!--                                                    <button type="submit" class="c-button c-button&#45;&#45;big c-cart__checkout-btn checkout-button button alt wc-forward">-->
                                                    <!--                                                        Оформлення замовлення-->
                                                    <!--                                                    </button>-->
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>



                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="c-cart__cross-sell">
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</div>

{% endblock %}