{%  extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="l-inner">
    <div class="woocommerce-notices-wrapper woocommerce-notices-wrapper--ajax" style="transform: translateY(0px);"></div>



    <div class="l-section l-section--container l-section--bottom-margin l-section--no-sidebar l-section--top-margin-60 l-section--white l-section--checkout">
        <div class="l-section__content">
            <div class="woocommerce">
                <div class="c-cart c-cart--checkout checkout woocommerce-checkout">

                    <div class="c-cart__wrap">
                        <div class="c-cart__col-1 c-cart__col-1--checkout">
                            <div class="js-sticky-sidebar-nearby">
                                <div class="c-cart__customer-details" id="customer_details">
                                    <div class="col-1">
                                        <div class="c-cart__form c-cart__form--billing-fields woocommerce-billing-fields">
                                            <h3 class="c-cart__header">Ваше замовлення</h3>

                                        {% for order in order_items %}
                                            <div class="c-cart__products-grid">
                                                <div class="c-cart__product-card">
                                                    <div class="c-cart__product-image">
                                                        <img src="{{ order.image }}" alt="image">
                                                    </div>
                                                    <div class="c-cart__product-info">
                                                        <div class="c-cart__totals-product-name">
                                                            {{ order.item }}&nbsp;
                                                            <strong class="c-cart__totals-product-quantity product-quantity">×&nbsp;{{ order.quantity }}</strong>
                                                            {% if order.volume and order.volume != 'None мл' and order.volume != 'None' and order.volume != '' %}
                                                                <dl class="variation">
                                                                    <dt class="variation-">Об`єм:</dt>
                                                                    <dd class="variation-">
                                                                        <p>{{ order.volume }}</p>
                                                                    </dd>
                                                                </dl>
                                                            {% endif %}
                                                        </div>
                                                        <div class="c-cart__totals-price">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <bdi>
                                                                    <span class="woocommerce-Price-currencySymbol">₴</span>{{ order.total }}
                                                                </bdi>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="c-cart__col-2">
                            <div class="c-cart__collaterals collaterals checkout-collaterals js-sticky-sidebar ">

                                <div class="c-cart__coupon">
                                    <a href="#" class="js-cart-coupon">
                                        <div class="c-cart__coupon-header">
                                            Код купону <i class="ip-down_arrow c-cart__select-icon"></i>
                                        </div>
                                    </a>

                                    <div class="c-cart__coupon-from-wrap">
                                        <div class="c-cart__coupon-form">
                                            <form method="POST" class="apply-coupon">
                                                {% csrf_token %}
                                                <input type="text"
                                                       name="code"
                                                       class="input-text"
                                                       value=""
                                                       placeholder="Код купону">
                                                <button
                                                        class="c-button--outline c-cart__coupon-apply c-button"
                                                        type="submit"
                                                        name="login">
                                                    Прийняти
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="c-cart__sub-header" id="order_review_heading">Підсумок замовлення</div>
                                <div id="order_review" class="c-cart__review-order woocommerce-checkout-review-order">
                                    <table class="c-cart__totals-table shop_table woocommerce-checkout-review-order-table">

                                        <tfoot>
                                            <tr>
                                                <td colspan="2" class="c-cart__totals-space c-cart__totals-space--hr"></td>
                                            </tr>

                                            <tr class="cart-subtotal">
                                                <th class="c-cart__sub-sub-header">Проміжний підсумок</th>
                                                <td class="c-cart__totals-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">₴</span>{{order.price}}</bdi></span></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" class="c-cart__totals-space c-cart__totals-space--hr"></td>
                                            </tr>


                                            <tr class="cart-subtotal">
                                                <th class="c-cart__sub-sub-header">Знижка</th>
                                                <td class="c-cart__totals-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">₴</span>{{order.saved}}</bdi></span></td>
                                            </tr>


                                            <tr>
                                                <td colspan="2" class="c-cart__totals-space c-cart__totals-space--hr"></td>
                                            </tr>

                                            <tr class="order-total">
                                                <th class="c-cart__sub-sub-header">Загалом</th>
                                                <td class="c-cart__totals-price c-cart__totals-price--total" data-title="Загалом"><span id="wcus-order-total"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">₴</span>{{order.price}}</bdi></span></strong> </span></td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" class="c-cart__totals-space c-cart__totals-space--hr"></td>
                                            </tr>

                                        </tfoot>
                                    </table>

                                    <div id="payment" class="woocommerce-checkout-payment">
                                        <div class="c-cart__sub-header">Спосіб оплати</div>
                                        <ul class="c-cart__payment-methods wc_payment_methods payment_methods methods">
                                            <li class="wc_payment_method payment_method_liqpay">
                                                <span class="c-cart__payment-methods-wrap">
                                                    <input id="payment_method_liqpay" type="radio" class="c-cart__payment-method-radio input-radio" name="payment_method" value="liqpay" checked="checked" data-order_button_text="" style="display: none;">
                                                </span>

                                                <label class="c-cart__payment-methods-title" for="payment_method_liqpay">
                                                    Онлайн-оплата карткою </label>
                                            </li>
                                        </ul>
                                        <div class="c-cart__place-order form-row place-order">

                                            <div class="woocommerce-terms-and-conditions-wrapper">
                                                <div class="woocommerce-privacy-policy-text">
                                                    <p>Ваші особисті дані використовуватимуться для опрацювання ваших замовлень, спрощення вашої роботи із сайтом та для інших цілей, описаних у нашій <a href="https://www.onlyone.beauty/faq/" class="woocommerce-privacy-policy-link" target="_blank">політика конфіденційності</a>.</p>
                                                </div>
                                                <p class="c-form__terms-and-conditions form-row validate-required">
                                                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                                                        <input type="checkbox" class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" name="terms" id="terms">
                                                        <span class="woocommerce-terms-and-conditions-checkbox-text">Я прочитав (ла) і погоджуюся з правилами сайту <a href="https://www.onlyone.beauty/faq/" class="woocommerce-terms-and-conditions-link" target="_blank">правила та умови</a></span>&nbsp;<span class="required">*</span>
                                                    </label>
                                                    <input type="hidden" name="terms-field" value="1">
                                                </p>
                                            </div>


                                            <div class="payment-section">
                                                <div class="liqpay-container" style="display: none;">
                                                    {{ form_html|safe }}
                                                </div>
                                                <button type="button" class="c-button c-button--big c-cart__place-order-btn button alt" id="custom-liqpay-button">
                                                    Оплатити карткою <i class="fas fa-credit-card" style="margin-left: 5px;"></i>
                                                </button>
                                            </div>

                                            <input type="hidden" id="woocommerce-process-checkout-nonce" name="woocommerce-process-checkout-nonce" value="b501c1580d"><input type="hidden" name="_wp_http_referer" value="/?wc-ajax=update_order_review">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="//static.liqpay.ua/libjs/checkout.js" async></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var customButton = document.getElementById('custom-liqpay-button');
        var liqpayForm = document.querySelector('.liqpay-container form');

        customButton.addEventListener('click', function() {
            liqpayForm.submit();
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const termsCheckbox = document.getElementById('terms');
        const paymentButton = document.getElementById('custom-liqpay-button');

        paymentButton.classList.add('c-button--disabled');
        paymentButton.disabled = true;

        termsCheckbox.addEventListener('change', function() {
            if (this.checked) {
                paymentButton.classList.remove('c-button--disabled');
                paymentButton.disabled = false;
            } else {
                paymentButton.classList.add('c-button--disabled');
                paymentButton.disabled = true;
            }
        });
    });
</script>


{% endblock %}