{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="l-inner">
    <div data-elementor-type="wp-page" data-elementor-id="2250" class="elementor elementor-2250">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-c4beda9 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="c4beda9" data-element_type="section">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c7c0774" data-id="c7c0774" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-a2e4774 elementor-widget elementor-widget-ideapark-page-header" data-id="a2e4774" data-element_type="widget" data-widget_type="ideapark-page-header.default">
                            <div class="elementor-widget-container">
                                <div class="woocommerce-notices-wrapper woocommerce-notices-wrapper--ajax" style="transform: translateY(90px);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-b5fbeac elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b5fbeac" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a4ac54f" data-id="a4ac54f" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-033fc8a elementor-widget elementor-widget-text-editor" data-id="033fc8a" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <h3 style="font-size: 30px;">
                                    <strong>Доставка і оплата</strong>
                                    <style>
                                        @media (max-width: 768px) {
                                            h3 {
                                                font-size: 20px !important;
                                            }
                                        }
                                    </style>
                                </h3>

                                <h4 style="font-size: 16px;"><strong>Умови доставки:</strong></h4>
                                <ul>
                                    <li>доставка здійснюється лише по Україні Новою Поштою: до відділення, поштомату або кур'єром Нової Пошти.</li>
                                    <li>замовлення відправляються щодня з понеділка по неділю до 19:00. (замовлення, оформлені після 19:00, будуть відправлені наступного дня)</li>
                                    <li>ми докладаємо максимум зусиль, щоб якнайшвидше відправити ваше замовлення, проте доставка може тривати 1-3 дні.</li>
                                    <li>вартість доставки розраховується відповідно до чинних тарифів Нової Пошти</li>
                                    <li>безкоштовна доставка до відділення або поштомату – для замовлень від 5000 грн</li>
                                    <li>за попередньою домовленістю, можливий самовивіз кожного дня в м.Одеса з салону краси «Mood Beauty Space». Адреса: м. Одеса, вул. Генуезька 3Б. Графік роботи: Пн-Нд, 10:00-21:00</li>
                                    <li>по Одесі ще можлива доставка на таксі кожного дня з 10:00 до 19:00 (таксі оплачує покупець)</li>
                                </ul>

                                <h4 style="font-size: 16px;"><strong>Оплата:</strong></h4>
                                <ul>
                                    <li>онлайн-оплата через платіжну систему LiqPay (Visa/MasterCard, ApplePay, GooglePay)</li>
                                    <li>безготівковий розрахунок, переказом на банківський рахунок ФОП за наданими реквізитами (інформація надається після оформлення замовлення)</li>
                                    <li>оплата при отриманні (Нова Пошта), здійснюється після перевірки посилки на відповідність замовленню у відділенні Нової Пошти (зверніть увагу, що при виборі цього способу оплати послуга зворотної доставки коштів є платною — 20 грн + 2% від суми замовлення).</li>
                                </ul>
                                <div style="margin-bottom: 50px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}