{%  extends 'partials/base.html' %}
{% load static %}
{% block content %}

{% block extra_js %}
    <script src="{% static 'js/product-sorting.js' %}"></script>
{% endblock %}

	<div class="l-inner">

	    <div class="woocommerce-notices-wrapper">
	    </div>
	    <div class="woocommerce-notices-wrapper"></div>


	    <div class="l-section l-section--container l-section--top-margin l-section--bottom-margin l-section--with-sidebar">
	        <div class="l-section__sidebar">

	            <div class="c-sidebar c-shop-sidebar c-shop-sidebar--single  js-shop-sidebar  js-sticky-sidebar ">
	                <div class="c-shop-sidebar__shadow"></div>
	                <div class="c-shop-sidebar__wrap js-shop-sidebar-wrap">
	                    <div class="c-shop-sidebar__buttons">
	                        <button type="button" class="h-cb h-cb--svg c-shop-sidebar__close js-filter-close-button"><i class="ip-close-small c-header__menu-close-svg"></i></button>
	                    </div>
	                    <div class="c-shop-sidebar__content c-shop-sidebar__content--desktop">
	                        <aside class="widget woocommerce widget_product_categories">
	                            <div class="widget-title">Категорії товару</div>
	                            <ul class="product-categories">
								{% for category in categories %}
									<li class="cat-item cat-item-131">
										<label style="display: flex; align-items: center; cursor: pointer;">
											<input class="form-check-input filter-checkbox"
												   type="checkbox"
												   name="checkbox"
												   data-filter="category"
												   id="exampleCheckbox2"
												   value="{{ category.id }}" />
											&nbsp;
											<a>{{ category.title }}</a>
										</label>
									</li>
								{% endfor %}
	                            </ul>
	                        </aside>
							<aside class="widget woocommerce widget_product_categories">
	                            <div class="widget-title">Бренди</div>
	                            <ul class="product-categories">
								{% for brand in brands %}
									<li class="cat-item cat-item-131">
										<label style="display: flex; align-items: center; cursor: pointer;">
											<input class="form-check-input filter-checkbox"
												   type="checkbox"
												   name="checkbox"
												   data-filter="brand"
												   id="exampleCheckbox1"
												   value="{{ brand.id }}" />
											&nbsp;
											<a href="">{{ brand.title }}</a>
										</label>
									</li>
								{% endfor %}
	                            </ul>
	                        </aside>
<!--	                        <aside class="widget woocommerce">-->
<!--								<div class="widget-title">Ціна</div>-->
<!--								<input type="range" name="ranDge" value="{{ min_max_price.price__min|floatformat:2 }}" class="slider-range" id="range" min="{{ min_max_price.price__min }}" max="{{ min_max_price.price__max }}" oninput="max_price.value=this.value">-->
<!--								<div class="d-flex justify-content-between">-->
<!--									<div class="caption">From: <strong id="slider-range-value1" class="text-brand">грн {{ min_max_price.price__min|floatformat:2 }}</strong></div>-->
<!--									<div class="caption">To: <strong id="slider-range-value2" class="text-brand">грн {{ min_max_price.price__max|floatformat:2 }}</strong></div>-->
<!--								</div>-->
<!--								<input type="number" name="" value="{{ min_max_price.price__min|floatformat:2 }}" id="max_price" min="{{ min_max_price.price__min }}" max="{{ min_max_price.price__max }}" placeholder="Current price" onkeyup="range.value=this.value">-->
<!--								<div>-->
<!--									<button class="button">Filter</button>-->
<!--									<h3>{{ min_max_price }}</h3>-->
<!--								</div>-->
<!--							</aside>-->
							<aside class="widget woocommerce">
								<div class="widget-title">Ціна</div>
								<div class="price-filter">
									<div class="double-range">
										<div class="range-slider">
											<input
												type="range"
												name="min_range"
												value="{{ min_max_price.price__min }}"
												id="min_range"
												class="slider-range"
												min="{{ min_max_price.price__min }}"
												max="{{ min_max_price.price__max }}"
												step="1">
											<input
												type="range"
												name="max_range"
												value="{{ min_max_price.price__max }}"
												id="max_range"
												class="slider-range"
												min="{{ min_max_price.price__min }}"
												max="{{ min_max_price.price__max }}"
												step="1">
											<div class="range-track"></div>
										</div>
									</div>
									<div class="price_label">
										Ціна: <span id="min_price_label">{{ min_max_price.price__min|floatformat:2 }}</span> —
										<span id="max_price_label">{{ min_max_price.price__max|floatformat:2 }}</span> грн
									</div>
									<button id="price-filter-btn" type="button" class="btn button">Фільтр</button>
								</div>
							</aside>

	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="l-section__content l-section__content--with-sidebar">
	            <div class=" js-sticky-sidebar-nearby ">



	                <div class="c-catalog-ordering ">
	                    <div class="c-catalog-ordering__col c-catalog-ordering__col--result">
							<p class="woocommerce-result-count" id="products-count">Ми знайшли для вас <strong>{{ products.count }}</strong> товар{% if products.count == 1 %}{% elif products.count == 2 or products.count == 3 or products.count == 4 %}и{% else %}ів{% endif %}!</p>
	                    </div>
	                    <div class="c-catalog-ordering__col c-catalog-ordering__col--ordering">
							<form class="woocommerce-ordering" onsubmit="return false;">
								{% csrf_token %}
								<select name="orderby" class="orderby" aria-label="Замовлення магазину">
									<option value="menu_order" selected='selected'>Сортування за замовчуванням</option>
									<option value="rating">За назвою (А–Я)</option>
									<option value="price">Від дорогих до дешевих</option>
									<option value="price-desc">Від дешевих до дорогих</option>
								</select>
							</form>
						</div>
	                    <button class="h-cb c-catalog-ordering__filter-show-button c-catalog-ordering__filter-show-button--mobile js-filter-show-button" type="button">
	                        Фільтри<i class="ip-filter c-catalog-ordering__filter-ico"></i>
	                    </button>
	                </div>
	                <div class="c-product-grid">
	                    <div class="c-product-grid__wrap c-product-grid__wrap--4-per-row  c-product-grid__wrap--2-per-row  c-product-grid__wrap--sidebar ">
	                        <div class="c-product-grid__list c-product-grid__list--4-per-row" id="filtered-products">
							{% for product in products %}
								{% csrf_token %}
								{% if product.old_price > product.price %}
								<div class="c-product-grid__item c-product-grid__item--sidebar c-product-grid__item--4-per-row c-product-grid__item--normal c-product-grid__item--always c-product-grid__item--2-per-row product type-product">
									<div class="c-product-grid__badges c-badge__list">
										<span class="c-badge c-badge--sale">-{{ product.get_percentage|floatformat:1 }}%</span>
									</div>
									<div class="c-product-grid__thumb-wrap c-product-grid__thumb-wrap--buttons">
										<a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
											<span class="acoplw-badge">
												<img width="260" height="260"
													 src="{{ product.image.url }}"
													 class="c-product-grid__thumb c-product-grid__thumb--cover"
													 alt=""
													 decoding="async">
											</span>
										</a>
										<div class="c-product-grid__thumb-button-list">
											<button class="c-wishlist__btn h-cb c-product-grid__thumb-button add-to-wishlist"
													data-product-item="{{ product.id }}"
													data-title="Wishlist"
													{% if request.user.is_authenticated and product in request.user.wishlist_set.all %}active{% endif %}>
												<i class="ip-heart c-product-grid__icon c-product-grid__icon--wishlist c-wishlist__btn-icon c-wishlist__btn-icon-normal"></i>
												<i class="ip-heart_hover c-product-grid__icon c-product-grid__icon--wishlist c-wishlist__btn-icon c-wishlist__btn-icon--hover"></i>
											</button>
										</div>
									</div>
									<a data-quantity="1" class="h-cb c-product-grid__atc button product_type_variable add-to-cart-btn"
									   data-index="{{ product.id }}" rel="nofollow">
										<input type="hidden" value="1" class="product-quantity-{{ product.id }}">
										<input type="hidden" class="product-pid-{{ product.id }}" value="{{ product.pid }}">
										<input type="hidden" class="product-image-{{ product.id }}" value="{{ product.image.url }}">
										<input type="hidden" class="product-id-{{ product.id }}" value="{{ product.id }}">
										<input type="hidden" class="product-title-{{ product.id }}" value="{{ product.title }}">
										<input type="hidden" class="product-volume-{{ product.id }}" value="{{ product.volume|default:'' }}">
										<input type="hidden" class="current-product-price-{{ product.id }}" value="{{ product.price|stringformat:'g' }}">
										<i class="ip-cart c-product-grid__atc-icon"></i>
									</a>
									<div class="c-product-grid__details">
										<div class="c-product-grid__title-wrap">
											<a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
												<h2 class="woocommerce-loop-product__title">{{ product.title }}</h2>
											</a>
											<a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
												<div class="c-product-grid__short-desc">
													<p>{{ product.brand }}</p>
												</div>
											</a>
										</div>
										<div class="c-product-grid__price-wrap">
											<span class="price">
												<del aria-hidden="true">
													<span class="woocommerce-Price-amount amount">
														<bdi>
															<span class="woocommerce-Price-currencySymbol">₴</span>{{ product.old_price|floatformat:2 }}
														</bdi>
													</span>
												</del>
												<ins>
													<span class="woocommerce-Price-amount amount">
														<bdi>
															<span class="woocommerce-Price-currencySymbol">₴</span>
															<span class="current-product-price-{{ product.id }}">{{ product.price|floatformat:2 }}</span>
														</bdi>
													</span>
												</ins>
											</span>
										</div>
									</div>
								</div>
								{% else %}
								<div class="c-product-grid__item c-product-grid__item--sidebar c-product-grid__item--4-per-row c-product-grid__item--normal c-product-grid__item--always c-product-grid__item--2-per-row product type-product">
									<div class="c-product-grid__thumb-wrap c-product-grid__thumb-wrap--buttons">
										<a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
											<img width="260" height="260"
												 src="{{ product.image.url }}"
												 class="c-product-grid__thumb c-product-grid__thumb--cover"
												 alt=""
												 decoding="async">
										</a>
										<div class="c-product-grid__thumb-button-list">
											<button class="c-wishlist__btn h-cb c-product-grid__thumb-button add-to-wishlist"
													data-product-item="{{ product.id }}"
													data-title="Wishlist"
													{% if request.user.is_authenticated and product in request.user.wishlist_set.all %}active{% endif %}>
												<i class="ip-heart c-product-grid__icon c-product-grid__icon--wishlist c-wishlist__btn-icon c-wishlist__btn-icon-normal"></i>
												<i class="ip-heart_hover c-product-grid__icon c-product-grid__icon--wishlist c-wishlist__btn-icon c-wishlist__btn-icon--hover"></i>
											</button>
										</div>
									</div>
									<a data-quantity="1" class="h-cb c-product-grid__atc button product_type_variable add-to-cart-btn"
									   data-index="{{ product.id }}" rel="nofollow">
										<input type="hidden" value="1" class="product-quantity-{{ product.id }}">
										<input type="hidden" class="product-pid-{{ product.id }}" value="{{ product.pid }}">
										<input type="hidden" class="product-image-{{ product.id }}" value="{{ product.image.url }}">
										<input type="hidden" class="product-id-{{ product.id }}" value="{{ product.id }}">
										<input type="hidden" class="product-title-{{ product.id }}" value="{{ product.title }}">
										<input type="hidden" class="product-volume-{{ product.id }}" value="{{ product.volume|default:'' }}">
										<input type="hidden" class="current-product-price-{{ product.id }}" value="{{ product.price|stringformat:'g' }}">
										<i class="ip-cart c-product-grid__atc-icon"></i>
									</a>
									<div class="c-product-grid__details">
										<div class="c-product-grid__title-wrap">
											<a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
												<h2 class="woocommerce-loop-product__title">{{ product.title }}</h2>
											</a>
											<a href="{% url 'core:product-detail' product.pid %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
												<div class="c-product-grid__short-desc">
													<p>{{ product.brand }}</p>
												</div>
											</a>
										</div>
										<div class="c-product-grid__price-wrap">
											<span class="price">
												<span class="woocommerce-Price-amount amount">
													<bdi>
														<span class="woocommerce-Price-currencySymbol">₴</span>
														<span class="current-product-price-{{ product.id }}">{{ product.price|floatformat:2 }}</span>
													</bdi>
												</span>
											</span>
										</div>
									</div>
								</div>
								{% endif %}
							{% endfor %}

	                        </div>
	                    </div>
	                </div>
	                <nav class="woocommerce-pagination">
	                    <ul class='page-numbers'>
	                        <li><span aria-current="page" class="page-numbers current">1</span></li>
	                        <li><a class="page-numbers" href="page/2/index.htm">2</a></li>
	                        <li><span class="page-numbers dots">&hellip;</span></li>
	                        <li><a class="page-numbers" href="page/11/index.htm">11</a></li>
	                        <li><a class="next page-numbers" href="page/2/index.htm"><i class="ip-menu-right page-numbers__prev-ico"></i></a></li>
	                    </ul>
	                </nav>
	            </div>
	        </div>
	    </div>

	    <div class="l-section l-section--container entry-content c-product-grid__cat-desc c-product-grid__cat-desc--below"></div>
	</div>

{% endblock %}